repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    exclude: ^(.lintr/)|^(renv/)|^(vignettes/)
  - id: end-of-file-fixer
    exclude: ^(renv/)
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v16.0.6
  hooks:
  - id: clang-format
    exclude: '^(inst/|.*\.json)$'
